.container {
  padding: 0 10%;
  background: url("/background.jpg");
  height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fefefe;
}

.text {
  padding-top: 150px;
}

.container h1 {
  font-size: 72px;
  font-weight: 900;
}

.container h2 {
  font-size: 22px;
  letter-spacing: 3px;
  font-weight: 100;
}

.register,
.login {
  padding: 10px 20px;
  margin: 20px 7px;
  border-radius: 4px 8px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: 700;
  cursor: pointer;
}

.register {
  background-color: var(--yellow-500);
}

.login {
  background-color: var(--red-500);
}

@media screen and (max-width: 694px) {
  .container h1 {
    font-size: 52px;
  }
}

@media screen and (max-width: 510px) {
  .container h1 {
    font-size: 42px;
  }

  .container h2 {
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: 100;
  }
}
