@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

:root {
  --bg-color: #fefefe;
  --primary-color: #10171e;
  --text-color: #333;
  --light-text: #283644;
  --yellow-500: #ff7518;
  --yellow-300: #ff5f1f;
  --yellow-100: #f28500;
  --red-500: #e34234;
}

body {
  background-color: #f9f9f9;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 7px;
  background: var(--red-500);
  transform-origin: 0%;
  z-index: 1000;
}

.goUp {
  position: fixed;
  right: 20px;
  bottom: 25px;
  color: var(--red-500);
  font-size: 25px;
  cursor: pointer;
}
