.container {
  padding: 30px 10%;
  margin: 100px 0;
  background-color: rgb(240, 240, 240);
}
.container h2 {
  font-size: 31px;
  font-weight: 300;
  letter-spacing: 2px;
}

.container p {
  margin-bottom: 20px;
}

.foodStory {
  padding: 40px 15px;
}

.slideItem {
  border-bottom: 4px solid var(--yellow-300);
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.foodDesc {
  position: absolute;
  bottom: 0;
  background-color: #10171e91;
  color: #fff;
  font-size: 13px;
  padding: 2px 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
}

.foodDesc h4 {
  color: var(--yellow-100);
  font-size: 19px;
  font-weight: 900;
}

.foodDesc p {
  font-size: 11px;
}

.container p span {
  font-weight: 900;
}

.orderBtn {
  background-color: var(--red-500);
  padding: 4px 8px;
  margin: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1px;
}
