.container {
  padding: 50px 10%;
  margin: 100px 0;
}

.container h2 {
  font-size: 31px;
  font-weight: 300;
  letter-spacing: 2px;
}

.container p {
  margin-bottom: 30px;
}

.imageContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-gap: 20px;
}

.imageItem {
  border-radius: 12px;
}

.boxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.reserveBtn1 {
  margin: 10px;
  padding: 5px 10px;
  background-color: var(--yellow-500);
  color: #fefefe;
  border-radius: 6px;
  box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  position: absolute;
  bottom: 0;
  font-size: 12px;
  left: 10px;
}

.reserveBtn2 {
  margin: 10px;
  padding: 5px 10px;
  background-color: var(--yellow-300);
  color: #fefefe;
  border-radius: 6px;
  box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  position: absolute;
  bottom: 0;
  font-size: 12px;
  left: 10px;
}

.reserveBtn3 {
  margin: 10px;
  padding: 5px 10px;
  background-color: var(--red-500);
  color: #fefefe;
  border-radius: 6px;
  box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  position: absolute;
  bottom: 0;
  font-size: 12px;
  left: 10px;
}
